backend/automation/inactive student - send reminder.json
{
  "name": "inactive student - send reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ea3df5bb-263e-4d73-84e3-7e33211e780f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.title, p.submitted_at,\n       u.name as student_name,\n       u.email as student_email\nFROM projects p\nJOIN users u ON p.student_id = u.id\nWHERE p.status = 'in_progress'\nAND p.submitted_at < NOW() - INTERVAL 7 DAY",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "id": "aa2d9f80-e52b-4b6c-a6ac-0ecf2d653855",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "62dnRXaK9unX3e5f",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "projectsann2026@gmail.com",
        "toEmail": "={{ $json.student_email }}",
        "subject": "Reminder: Please update your PFE project",
        "html": "=<h2>Project Update Reminder</h2>\n<p>Dear {{ $json.student_name }},</p>\n<p>This is a friendly reminder that your PFE project has not been updated for more than 7 days.</p>\n<ul>\n  <li><strong>Project:</strong> {{ $json.title }}</li>\n  <li><strong>Submitted:</strong> {{ $json.submitted_at }}</li>\n</ul>\n<p>Please login to PFE Tracker and update your progress as soon as possible.</p>\n<p>Your supervisor is waiting for updates!</p>\n<br>\n<p>PFE Tracker System</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "d8f5ba6d-1c7e-460f-8b23-4e4ba19cbb85",
      "name": "Send an Email",
      "webhookId": "a1162138-cd6a-427a-97ab-314480ad03aa",
      "credentials": {
        "smtp": {
          "id": "oSTo2rZTqd2oNXik",
          "name": "Gmail PFE"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f1d983d0-2355-4d3b-abb4-363c08c5c746",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ceac14b175c30c357ad7e2256f3547cf49c75bcf72dc8c1d1035b11d176d7819"
  },
  "id": "flNqLRIkyc9oG3CV",
  "tags": []
}