backend/automation/project_submitted - notify teacher.json
{
  "name": "project_submitted - notify teacher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-submitted",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b978c920-8cbf-434b-8ad1-997e944cf92a",
      "name": "Webhook",
      "webhookId": "f7908082-dc7a-45f0-b048-d39912e7c887"
    },
    {
      "parameters": {
        "fromEmail": "projectsann2026@gmail.com",
        "toEmail": "={{ $json.body.teacher_email }}",
        "subject": "New PFE submitted",
        "html": "=<h2>New Project Submission</h2>\n<p>Dear Professor,</p>\n<p>A student has submitted a new PFE project that requires your review.</p>\n<ul>\n  <li><strong>Student:</strong> {{ $json.student_name }}</li>\n  <li><strong>Project Title:</strong> {{ $json.project_title }}</li>\n  <li><strong>Submitted at:</strong> {{ $json.submitted_at }}</li>\n</ul>\n<p>Please login to PFE Tracker to review and respond.</p>\n<br>\n<p>PFE Tracker System</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "ed500901-76ff-4087-ae60-10d6dbdbbd8e",
      "name": "Send an Email",
      "webhookId": "51b0d692-32ae-4602-81f4-ebbef4e09c09",
      "credentials": {
        "smtp": {
          "id": "oSTo2rZTqd2oNXik",
          "name": "Gmail PFE"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "notifications",
          "mode": "list",
          "cachedResultName": "notifications"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $('Webhook').item.json.body.teacher_id }}"
            },
            {
              "column": "message",
              "value": "=New project submitted: {{ $('Webhook').item.json.body.project_title }} by {{ $('Webhook').item.json.body.student_name }}"
            },
            {
              "column": "is_read",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        416,
        0
      ],
      "id": "6ed19ecb-fbf7-4bad-8a15-12691d7ad787",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "62dnRXaK9unX3e5f",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "86e02272-f162-420a-a569-19a2c1c288d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ceac14b175c30c357ad7e2256f3547cf49c75bcf72dc8c1d1035b11d176d7819"
  },
  "id": "xsKyLVzC4HWeFUAV",
  "tags": []
}