backend/automation/Weekly Admin Report.json
{
  "name": "Weekly Admin Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "dd72400a-5020-49b1-972f-2fe0fa2c392d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    COUNT(*) as total,\n    SUM(CASE WHEN status = 'pending' THEN 1 ELSE 0 END) as pending,\n    SUM(CASE WHEN status = 'accepted' THEN 1 ELSE 0 END) as accepted,\n    SUM(CASE WHEN status = 'in_progress' THEN 1 ELSE 0 END) as in_progress,\n    SUM(CASE WHEN status = 'rejected' THEN 1 ELSE 0 END) as rejected,\n    SUM(CASE WHEN status = 'done' THEN 1 ELSE 0 END) as done\nFROM projects",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        0
      ],
      "id": "3319d7b9-f3b2-4cf4-8bc7-3f93e591d292",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "62dnRXaK9unX3e5f",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "projectsann2026@gmail.com",
        "toEmail": "projectsann2026@gmail.com",
        "subject": "Weekly PFE Projects Report",
        "html": "=<h2>Weekly PFE Projects Report</h2>\n<p>Dear Admin,</p>\n<p>Here is your weekly summary of all PFE projects:</p>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\">\n  <tr style=\"background:#7F77DD; color:#fff;\">\n    <th>Status</th>\n    <th>Count</th>\n  </tr>\n  <tr><td>Total projects</td><td>{{ $json.total }}</td></tr>\n  <tr><td>Pending</td><td>{{ $json.pending }}</td></tr>\n  <tr><td>Accepted</td><td>{{ $json.accepted }}</td></tr>\n  <tr><td>In progress</td><td>{{ $json.in_progress }}</td></tr>\n  <tr><td>Rejected</td><td>{{ $json.rejected }}</td></tr>\n  <tr><td>Done</td><td>{{ $json.done }}</td></tr>\n</table>\n<br>\n<p>PFE Tracker System</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        368,
        16
      ],
      "id": "c66ac049-b268-4574-b7c6-86e3cfdf2b0a",
      "name": "Send an Email",
      "webhookId": "8d5954eb-41a4-41df-b2fd-cc69d9fa6112",
      "credentials": {
        "smtp": {
          "id": "oSTo2rZTqd2oNXik",
          "name": "Gmail PFE"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f8e882b5-080a-4a92-b41f-a4199bc3794c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ceac14b175c30c357ad7e2256f3547cf49c75bcf72dc8c1d1035b11d176d7819"
  },
  "id": "PPKo0liX177hUCxD",
  "tags": []
}